
ul li{
    font-size: 25px;
    
   
}
.ul{
    background-color: blanchedalmond;
    height: 50px;
    width: 100
   
    margin-left: 800px
}

.a
{
    text-decoration: none;
    float: left;
    margin-left: 50px
    
}
.mar
{
    margin-top: 80px;
}
